# Бинарные файлы
bin/
obj/

# Конфигурационные файлы
*.user
*.suo
*.vs
*.vscode/
*.csproj.user
Properties/

# Логи и временные файлы
*.log
*.tmp

# Файлы сборки и кэша
*.dll
*.exe
*.pdb
*.cache
*.vsconfig

# NuGet пакеты
packages/
*.nupkg

# Системные файлы
Thumbs.db
Desktop.ini

# IDE файлы
.vs/
.idea/
*.sln.ide

# TODO-файл
TODO.md

